.it {
    font-size: 14px;
    text-align: left;  
    display: block; 
    padding: 5px 0;    
    width: 100%;       
    margin-left: 0px;
}

.result {
    width: 100%;  
    max-width: 600px;  
    color: white;
    height: 25rem;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #230c33;
    text-align: left;  
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

ul {
    padding-left: 0; 
    margin: 0;       
    list-style-type: none; 
    width: 100%;
}
