#left-panel {
    background-color: #9984d4;
}


#prostate{
    width: 29rem;
    color: white;
    height: 10rem;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #230c33;
}

.result {
    max-width: 100%;
    color: white;
    height: 25rem;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #230c33;
}


@media (max-width: 768px) {
    .result {
        width: 100%; 
        height: auto;
    }
}


#item {
    font-size: 14px;
}


#name1 {
    margin-left: 3px;
    color: black;
}