#head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: clamp(60px, 10vh, 120px);
    background-color: #592e83;
    color: white;
    padding: calc(1vw + 5px); 
    font-size: min(4vw, 1.5rem); 
}
