.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px 5%;
    width: 100%;
}


.navbar-brand {
    display: flex;
    align-items: center;
    gap: 15px; 
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}


.navbar-toggler {
    font-size: 2rem;
    border: none;
    background: transparent;
    color: white;
    display: none; 
    cursor: pointer;
}


.navbar-nav {
    display: flex;
    align-items: center;
    gap: 40px; 
    list-style: none;
    margin-left: auto; 
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        padding: 15px;
    }

    .navbar-toggler {
        display: block; 
    }

    .navbar-nav {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #333;
        width: 100%;
        display: none;
        gap: 20px;
        align-items: center;
        padding: 15px 0;
    }

    .navbar-nav.show {
        display: flex; 
    }
}
